* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Inria Serif", serif;
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background:white;
}

.card {
  width: 100%;
  max-width: 1982px;
  height: 100vh;
  max-height: 1265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF6DD;
  position: relative;
  border : 10px solid #474134;
}

.brand {
  display: flex;
  align-items: flex-start;
  margin-top: 121px;
  position: relative;
}

.logo-icon {
  width: 277px;
  height: 291px;
  margin-right: -140px;
  z-index: 1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 180px;
  font-weight: 400;
  line-height: 1;
  color: #474134;
  margin-top: -10px;
  -webkit-text-stroke: 2px #000000;
}

.title .said {
  margin-top:-40px;
}

.subtitle {
  font-size: 90px;
  font-weight: 400;
  color: #474134;
  -webkit-text-stroke: 2px #000000;
  margin-top: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 270px;
  margin-top: 80px;
}

.tabs span {
  font-size: 48px;
  font-weight: 400;
  color: #474134;
  -webkit-text-stroke: 2px #000000;
  cursor: pointer;
  padding-bottom: 8px;
  margin-top: -30px;
}

.tabs .active {
  border-bottom: 1px solid #474134;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top:-40px;
}

.form-area {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
  width: 100%;
  justify-content: center;
}

.pen {
  width: 330px;
  height: 333px;
  object-fit: contain;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

label {
  font-size: 48px;
  font-weight: 400;
  color: #474134;
  -webkit-text-stroke: 2px #000000;
}

input {
  width: 1061px;
  height: 75px;
  padding: 0 25px;
  border-radius: 30px;
  border: 3px solid #474134;
  background: rgba(255, 235, 179, 0.07);
  font-size: 40px;
  color: #474134;
  outline: none;
}

input::placeholder {
  color: #474134;
  opacity: 0.5;
}

button {
  width: 468px;
  height: 68px;
  align-self: center;
  border-radius: 30px;
  border: none;
  background: #474134;
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.2s;
  margin-top: 20px;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.7;
}
